/* insert styling */

* {
  font-family: "Press Start 2P", cursive;
}

h1 {
  font-size: 400%;
  text-align: center;
  margin-top: 100px;
}

.choice,
h2 {
  font-size: 200%;
  text-align: center;
  margin-top: 150px;
}

.buttons {
  margin: auto;
  text-align: center;
}

button.option {
  text-align: center;
  margin: 30px;
  height: 300px;
  width: 300px;
  background-color: lightgoldenrodyellow;
  font-size: 50px;
  transition: 0.3s;
  border-radius: 25%;
}

button.option:hover {
  transition: 0.4s;
  background-color: rgb(225, 225, 169);
}

.submit {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
}

#submit-button:hover {
  background-color: rgb(211, 211, 211);
  transition: 0.4s;
}

#submit-button {
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

#submit-button:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

#submit-button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.log {
  text-align: center;
  margin-top: 50px;
}

.image {
  height: 30px;
  width: 30px;
}

.reset {
  height: 50px;
  width: 50px;
  border-radius: 25%;
  margin-left: 15px;
  background-color: lightgreen;
}
